{% extends 'base_uz.html' %}
{% load static %}


{% block main %}
{% include 'components/_cart_modal_uz.html' %}

{% include 'components/header/_header_other_uz.html' %}

    <main class="swiper-main">
<!--        Пройтись по коллекциям-->
        {% for collection in collections %}
          <div class="container">
                <div class="swiper-text">
                    <h2 class="swiper-text&#45;&#45;first">Kolleksiya</h2> <!--Статично-->
                    <h2 class="swiper-text--second">“{{ collection.name_uz }}”</h2> <!--Название коллекции-->
                </div>
            </div>
        <div class="swiper mySwiper" id="collection_{{ collection.pk }}">
          
            <div class="swiper-wrapper">
<!--                Слайды с товарами коллекции-->
                {% for item in collection.items.all %}
                <div class="swiper-slide">
                    <div class="swiper-slide-img-c" onclick="document.location.href='{% url 'third_page_uz' item.pk %}'">
                        <img src="{{ item.get_image }}" />  <!--Фотка товара -->
                        <a href="{% url 'third_page_uz' item.pk %}" class="swiper-slide--hovertext">Katalogga o'tish</a>  <!--Изменить на ссылку в каталог товара-->
                    </div>
                    <div class="swiper-slide--text-b">
                        <span class="swiper-slide--text">{{ item.name_uz }}</span>  <!--Название товара-->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
<!--        Заканчиваем-->


        {% include 'components/_acham_line_en.html' %}

    </main>
{% endblock main %}